body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom right, #74ebd5, #acb6e5);
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #ffffffb5;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  width: 350px;
}

h1 {
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

input {
  padding: 10px;
  width: 180px;
  border: none;
  border-radius: 8px;
  outline: none;
}

button {
  padding: 10px 15px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #357abd;
}

.weather-info {
  margin-top: 25px;
}

.weather-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#temp {
  font-size: 2rem;
  font-weight: bold;
}

.forecast-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}

.forecast-card {
  background: #ffffffcc;
  border-radius: 10px;
  padding: 10px;
  width: 60px;
  text-align: center;
}

.forecast-card img {
  width: 40px;
}

.hidden {
  display: none;
}
